

.vehicle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  
  .vehicle-card {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border: 1px dotted cadetblue;
  }

  .vehicle-delete {
    margin-left: auto;
    background-color: rgb(242, 85, 145);
  }

  .vehicle-edit {
    margin-left: auto;
    background-color: cadetblue;
  }

  .vehicle-delete {
    margin-left: auto;
    background-color: cadetBlue;
  }

  .vehicle-filter {
    display: flex;
    justify-content: center;
    padding: 3rem;
  }

  .vehicle-filter-title {
    display: flex;
    justify-content: center;
  }