.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgb(107, 25, 194);
    border-radius: 1rem;
    padding: rem;
    box-shadow: 1px 3px 4px grey;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.navbar_link {
    display: flex;
    flex: auto;
    justify-content: space-around;
}